.cabecalho_menu-hamburguer {
    display: inline-block;
    width: 36px;
    height: 24px;
    background-image: url(../img/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.container_botao:checked ~ .container_rotulo > .cabecalho_menu-hamburguer {
    background-image: url(../img/Menu-Aberto.svg);
}

.container_botao:checked ~ .container_rotulo {
    background: var(--azul-degrade);
}

.cabecalho {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: var(--branco);
}

.container {
    display: flex;
    align-items: center;
}

.container_imagem {
    padding: 9px;
}

.container_texto {
    display: none;
}

.lista-menu {
    width: 60vw;
    display: none;
    position: absolute;
    top: 100%;
}

.container_botao:checked ~ .lista-menu {
    display: block;
}

.lista-menu_titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu_link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.lista-menu_titulo, .lista-menu_item {
    padding: 16px;
    background-color: var(--branco);
}

.container_botao {
    display: none;
}

.container_titulo {
    display: none;
}

.opcoes {
    display: none;
}

@media screen and (min-width: 1024px) {
    .cabecalho_menu-hamburguer {
        display: none;
    }

    .container_titulo-negrito, .container_titulo {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

    .container_titulo-negrito {
        font-weight: 700;
    }

    .container_titulo {
        font-weight: 400;
        display: block;
    }

    .opcoes {
        display: flex;
    }

    .opcoes_item {
        padding: 1.3em 1em;
        text-transform: uppercase;
    }

    .opcoes_link {
        text-decoration: none;
        color: var(--preto);
    }

    .opcoes_botao:checked ~ .opcoes_rotulo > .opcoes_item {
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .lista-menu_item:hover {
        background: var(--azul-degrade);        
    }

    .lista-menu_item:hover > .lista-menu_link {
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }

    .container_imagem-transparente {
        display: none;
    }

    .opcoes_botao:checked ~ .lista-menu {
        display: block;
        width: auto;
    }

    .opcoes_botao {
        display: none;
    }

}

@media screen and (min-width: 1728px) {
    .container_link {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .cabecalho {
        padding: 0 2em;
    }

    .opcoes {
        margin-left: 3em;
        margin-right: auto;
    }

    .container_texto {
        display: block;
    }
}
