.cabecalho_menu-hamburguer {
    display: inline-block;
    width: 36px;
    height: 24px;
    background-image: url(../img/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.cabecalho {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: var(--branco);
}

.container {
    display: flex;
    align-items: center;
}

.container_imagem {
    padding: 16px;
}

.lista-menu {
    width: 60vw;
    display: none;
    position: absolute;
    top: 100%;
}

.container_botao:checked ~ .lista-menu {
    display: block;
}

.lista-menu_titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu_link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.lista-menu_titulo, .lista-menu_item {
    padding: 16px;
    background-color: var(--branco);
}

.container_botao {
    display: none;
}
